body
{
  background-color: #999999;
  color: #000000; margin: 0; padding: 0;
  background-image: -webkit-radial-gradient(left center, circle farthest-corner, #FFFFFF 0%, #3B3B3B 100%);
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 12pt;
  line-height: 1.5em;
}

*{ margin: 0;}

#container
{
	position: relative;
}
.popupbox
{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 2px 10px 2px 20px;
    border: 1px solid #999999;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#24414e));
    background-color: #24414e;
    -webkit-border-radius: 10px; 
    border-radius: 10px;
}
#advOptLabel
{
	color: #000000;
	text-shadow: 0px 0px 0px rgba(175, 210, 220, 0.8);
}
.popupbox label 
{
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(175, 210, 220, 0.8); 
}
.popupbox button
{
    padding: 5px 10px 5px 10px;
    margin-right: auto;
    text-shadow: #efefef 1px 1px 0px;
    border: 1px outset #999999;
    cursor: pointer;
    -webkit-border-radius: 5px; 
    border-radius: 5px;
}
.popupbox button:hover
{
    background-color: #666666;
    color: #ffffff;
    z-index:10000;
}
#login input
{
    padding: 5px;
    background-color: #fAfAfA;
    border: 1px inset #999999;
    outline: none;
    -webkit-border-radius: 3px; 
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100px; 
}
#login .icon
{
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:50px;
	height:50px;
}
.popupbox #connectButton
{
	margin-left: auto;
}
#login
{
    width: 200px;
    	display: none;
}
#tools
{
	position: absolute;
	display: none;
	margin-top: -30px;
	text-align: center;
	z-index: 1000;
}
#advanced
{
    width: 200px;
    display: none;
}
#tools button
{
	margin-bottom: 2px;
}
.spice-screen
{
    display: inline;
    min-width: 800px;
    min-height: 600px;
    background-color: #333333;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.spice-message {
    font-size: 8pt;
    font-family: 'Andale Mono', monospace;
    height: 100px;
    overflow: auto;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #efefef;
    border: solid #c3c3c3 2px;
    line-height: 1.1em;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	  display: none;
}

.spice-message p {
    margin-bottom: 0em;
    margin-top: 0em;
}

.spice-message-warning {
    color: orange;
}
.spice-message-error {
    color: red;
}

